<div class="login" >
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 ">


            <div class="alert alert-danger" ng-show="login_error">

                <b>{{ login_error }}</b>
            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <b>Please authenticate</b>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="user">User:</label>
                        <input type="text" class="form-control" id="user" ng-model="user.name" ng-click="clearError()"
                              focus-on="editMode" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" ng-model="user.password"
                               ng-click="clearError()">
                    </div>

                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="userLogin(user)">Log in</button>
                    </div>


                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
    </div>